.MenuContainer {
    flex: 0.5;
    flex-direction: column;
    height: 100vh;
    display: flex;
}

.Flex {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    width: 86%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-weight: bold;
    font-size: 20px;
    margin: 16px 0px;
    width: 100%;
}

.closeIcon {
    display: none;

    @media only screen and (max-width: 1100px) {
        display: block;
        color: #F2F3F4;
        font-size: 20px;
    }
}

.elements {
    padding: 4px 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.navText {
    margin: 12px 0px;
}